<!-- Footer -->
<footer class="footer">
				
    <!-- Footer Top -->
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                
                    <!-- Footer Widget -->
                    <div class="footer-widget footer-about">
                        <h2 class="footer-title">About Us</h2>
                        <div class="footer-about-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut consequat mauris Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut consequat mauris </p>
                            <div class="social-icon">
                                <ul>
                                    <li>
                                        <a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank"><i class="fab fa-youtube"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /Footer Widget -->
                    
                </div>
                
                <div class="col-lg-3 col-md-6">
                
                    <!-- Footer Widget -->
                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">Information</h2>
                        <ul>
                            <li><a routerLink='/customers/search'>Search for Speakers</a></li>
                            <li><a routerLink='/speakers/events'>Events</a></li>
                            <li><a routerLink='/customers/customer-dashboard'>Customer Dashboard</a></li>
                            <li><a routerLink='/pages/login'>Login</a></li>
                        </ul>
                    </div>
                    <!-- /Footer Widget -->
                    
                </div>
                
                <div class="col-lg-3 col-md-6">
                
                    <!-- Footer Widget -->
                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">Support</h2>
                        <ul>
                            <li><a routerLink='/speakers/speakers-dashboard'>Speaker Dashboard</a></li>
                            <li><a routerLink='/customers/booking'>Booking</a></li>
                            <li><a routerLink='/customers/chat'>Chat</a></li>
                            <li><a routerLink="pages/privacy-policy">Privacy & Policy</a></li>
                        </ul>
                    </div>
                    <!-- /Footer Widget -->
                    
                </div>
                
                <div class="col-lg-3 col-md-6">
                
                    <!-- Footer Widget -->
                    <div class="footer-widget footer-contact">
                        <h2 class="footer-title">Contact Us</h2>
                        <div class="footer-contact-info">
                            <div class="footer-address">
                                <span><i class="fas fa-map-marker-alt"></i></span>
                                <p>251 Hickory Heights Drive,<br> Alaska, AK 99515 </p>
                            </div>
                            <p>
                                <i class="fas fa-phone-alt"></i>
                                +1 907 275 0477
                            </p>
                            <p class="mb-0">
                                <i class="fas fa-envelope"></i>
                                pathivu@example.com
                            </p>
                        </div>
                    </div>
                    <!-- /Footer Widget -->
                    
                </div>
                
            </div>
        </div>
    </div>
    <!-- /Footer Top -->
    
    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="container">
        
            <!-- Copyright -->
            <div class="copyright">
                <div class="row">
                    <div class="col-md-7 col-lg-6">
                        <div class="copyright-text">
                            <ul class="policy-menu text-left">
                                <li><a routerLink="/pages/term-condition">Terms and Conditions</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-5 col-lg-6">
                    
                        <!-- Copyright Menu -->
                        <div class="copyright-menu">
                            <ul class="policy-menu">
                                <li><p class="mb-0">&copy; 2021 All Rights Reserved</p></li>
                            </ul>
                        </div>
                        <!-- /Copyright Menu -->
                        
                    </div>
                </div>
            </div>
            <!-- /Copyright -->
            
        </div>
    </div>
    <!-- /Footer Bottom -->
    
</footer>
<!-- /Footer -->
