<!-- Breadcrumb -->
<!-- <div class="breadcrumb-bar">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-12 col-12">
        <nav aria-label="breadcrumb" class="page-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">
              Pricing Page
            </li>
          </ol>
        </nav>
        <h2 class="breadcrumb-title">Pricing Page</h2>
      </div>
    </div>
  </div>
</div> -->
<!-- /Breadcrumb -->

<!-- Page Content -->
<!-- <div class="content">
  <div class="container">
    <div class="container-fluid">
      <div class="container">
        <div class="row row-margins">
          <div class="col-sm-4">
            <div class="card text-center highlight">
              <div class="recommended-badge">Recommended</div>
              <div class="title">
                <img src="assets/img/couples/diamond.png" alt="" class="img-fluid" style="width: 50%;">
                <h2>Diamond</h2>
              </div>
              <div class="price">
                <h4><sup>₹</sup>3,66,000</h4>
              </div>
              <div class="option">
                <ul>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Event - Wedding</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Bride and Groom</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Candid Videographer - 1</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Candid Photographer - 1</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Traditional Photo - 1</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Traditional Video - 2</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Helicam - 1</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Motion Candid Video - 1</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Live Streaming</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> 70 Leaf 140 Pages Magazine Album - 2 </li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Instagram Reels - 8</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Highlight Video - 1</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Full Length Video - 1</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Edited Photos 75 Nos - 1</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Photo Frames 8 Nos - 1</li>
                </ul>
              </div>
              <a href="#">Order Now </a>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card text-center">
              <div class="title">
                <img src="assets/img/couples/gold.png" alt="" class="img-fluid" style="width: 50%;">
                <h2>Gold</h2>
              </div>
              <div class="price">
                <h4><sup>₹</sup>2,77,600</h4>
              </div>
              <div class="option">
                <ul>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Event - Wedding</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Bride and Groom</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Candid Videographer - 1</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Candid Photographer - 1</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Traditional Photo - 1</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Traditional Video - 1</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Helicam - 1</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Motion Candid Video - 1</li>
                  <li><i class="fa fa-times" aria-hidden="true"></i> Live Streaming</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> 60 Leaf 120 Pages Magazine Album - 2 </li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Instagram Reels - 4</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Highlight Video - 1</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Full Length Video - 1</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Edited Photos 50 Nos - 1</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Photo Frames 4 Nos - 1</li>
                </ul>
              </div>
              <a href="#">Order Now </a>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card text-center">
              <div class="title">
                <img src="assets/img/couples/silver.png" alt="" class="img-fluid" style="width: 50%;">
                <h2>Silver</h2>
              </div>
              <div class="price">
                <h4><sup>₹</sup>2,26,100</h4>
              </div>
              <div class="option">
                <ul>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Event - Wedding</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Bride and Groom</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Candid Videographer - 1</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Candid Photographer - 1</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Traditional Photo - 1</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Traditional Video - 1</li>
                  <li><i class="fa fa-times" aria-hidden="true"></i> Helicam - 0</li>
                  <li><i class="fa fa-times" aria-hidden="true"></i> Motion Candid Video - 0</li>
                  <li><i class="fa fa-times" aria-hidden="true"></i> Live Streaming</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> 40 Leaf 80 Pages Magazine Album - 2 </li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Instagram Reels - 2</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Highlight Video - 1</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Full Length Video - 1</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Edited Photos 25 Nos - 1</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Photo Frames 2 Nos - 1</li>
                </ul>
              </div>
              <a href="#">Order Now </a>
            </div>
          </div>
        </div>

        <div class="row row-margins">
          <div class="col-sm-12">
            <div class="card text-center">
              <div class="title">
                <h2>Custom - Make your own package</h2>
              </div>
              <div class="row row-margins" style="margin-top: 30px;margin-bottom: 0px;">
                <div class="col-sm-8">
                  <div style="text-align: left;">
                    <label class="custom_check checkbox">
                        <input type="checkbox" name="gender_type" (change)="onCheckboxClicked($event)">
                        <span class="checkmark"></span> Event - Wedding
                    </label>
                    <label class="custom_check checkbox">
                      <input type="checkbox" name="gender_type" (change)="onCheckboxClicked($event)">
                      <span class="checkmark"></span> Bride and Groom
                    </label>
                    <label class="custom_check checkbox">
                      <input type="checkbox" name="gender_type" (change)="onCheckboxClicked($event)">
                      <span class="checkmark"></span> Candid Videographer
                    </label>
                    <label class="custom_check checkbox">
                      <input type="checkbox" name="gender_type" (change)="onCheckboxClicked($event)">
                      <span class="checkmark"></span> Candid Photographer
                    </label>
                    <label class="custom_check checkbox">
                      <input type="checkbox" name="gender_type" (change)="onCheckboxClicked($event)">
                      <span class="checkmark"></span> Traditional Photo
                    </label>
                    <label class="custom_check checkbox">
                      <input type="checkbox" name="gender_type" (change)="onCheckboxClicked($event)">
                      <span class="checkmark"></span> Traditional Video
                    </label>
                    <label class="custom_check checkbox">
                      <input type="checkbox" name="gender_type" (change)="onCheckboxClicked($event)">
                      <span class="checkmark"></span> Helicam
                    </label>
                    <label class="custom_check checkbox">
                      <input type="checkbox" name="gender_type" (change)="onCheckboxClicked($event)">
                      <span class="checkmark"></span> Motion Candid Video
                    </label>
                    <label class="custom_check checkbox">
                      <input type="checkbox" name="gender_type" (change)="onCheckboxClicked($event)">
                      <span class="checkmark"></span> Live Streaming
                    </label>
                    <label class="custom_check checkbox">
                      <input type="checkbox" name="gender_type" (change)="onCheckboxClicked($event)">
                      <span class="checkmark"></span> 70 Leaf 140 Pages Magazine Album
                    </label>
                    <label class="custom_check checkbox">
                      <input type="checkbox" name="gender_type" (change)="onCheckboxClicked($event)">
                      <span class="checkmark"></span> Instagram Reels
                    </label>
                    <label class="custom_check checkbox">
                      <input type="checkbox" name="gender_type" (change)="onCheckboxClicked($event)">
                      <span class="checkmark"></span> Highlight Video
                    </label>
                    <label class="custom_check checkbox">
                      <input type="checkbox" name="gender_type" (change)="onCheckboxClicked($event)">
                      <span class="checkmark"></span> Full Length Video
                    </label>
                    <label class="custom_check checkbox">
                      <input type="checkbox" name="gender_type" (change)="onCheckboxClicked($event)">
                      <span class="checkmark"></span> Edited Photos 75 Nos
                    </label>
                    <label class="custom_check checkbox">
                      <input type="checkbox" name="gender_type" (change)="onCheckboxClicked($event)">
                      <span class="checkmark"></span> Photo Frames 8 Nos
                    </label>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="price">
                    <h4><sup>₹</sup>{{customPackageAmount}}</h4>
                  </div>
                </div>
              </div>
              <a href="#">Order Now </a>
            </div>
          </div>
        </div>
          
      </div>
    </div>
  </div>
</div> -->
<!-- /Page Content -->
<div class="loader-div" *ngIf="loading === true">
  <div class="loader">
    <div class="half"></div>
    <div class="half"></div>
  </div>
  <div style="color: black">Loading .....</div>
</div>
<div *ngIf="loading === false" class="content" style="background-color: #333333;padding: '90px 0px';">
  <div class="container">
    <div class="container-fluid">
      <div class="container">
        <div class="pricing-table" style="color: white">
          <div
            *ngFor="let package of packageList"
            [ngClass]="{
              plan: !package.recommended,
              'plan-recommended': package.recommended
            }"
          >
            <div *ngIf="package.recommended === true" class="best-value">Recommended</div>
            <div class="plan-name" style="text-align: center !important">
              {{ package.packageName }}
            </div>
            <div class="plan-description" style="text-align: center !important">
              {{ package.eventType }}
            </div>
            <div class="actual-price" style="text-align: center !important">
              {{ package.actualPrice | currency:'INR'}}
            </div>
            <div class="price yellow" style="text-align: center !important">
              {{ package.offerPrice | currency:'INR'}}
            </div>
            <div class="billing-cycle" style="text-align: center !important">
              (Offer rates will vary depending on the event date)
            </div>
            <button
              [ngClass]="{
                'select-btn': !package.recommended,
                'select-btn-recommended': package.recommended
              }"
              (click)="goToPackageCustomPage(package)"
            >
              Select
            </button>
            <div class="features-title">Plan includes:</div>
            <div
              [ngClass]="{
                'event-card': !package.recommended,
                'event-card-recommended': package.recommended
              }"
              *ngFor="let events of package.events"
            >
              <div class="features-title" style="text-align: center !important">
                {{ events.eventName }}
              </div>
              <div
                [ngClass]="{
                  'feature-exist': services.count > 0,
                  'feature-not-exist': services.count == 0
                }"
                *ngFor="let services of events.services"
              >
                {{ services.service }} - {{ services.count }}
              </div>
            </div>
            <div class="features-title mt-3">Deliverables:</div>
            <div
              *ngFor="let deliverables of package.deliverablePricingSummaryList"
              [ngClass]="{
                'feature-exist': deliverables.count > 0,
                'feature-not-exist': deliverables.count == 0
              }"
            >
              {{ deliverables.deliverableName }} - {{ deliverables.count }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
