<!-- Page Content -->
<div class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-xl-7 col-lg-12 order-md-last order-sm-last order-last map-left">

                <div class="row align-items-center mb-4">
                    <div class="col-md-6 col">
                        <h4>2245 Instructor found</h4>
                    </div>

                    <div class="col-md-6 col-auto">
                        <div class="view-icons">
                            <a routerLink='/students/map-grid' class="grid-view"><i class="fas fa-th-large"></i></a>
                            <a routerLink='/students/map-list' class="list-view active"><i class="fas fa-bars"></i></a>
                        </div>
                        <div class="sort-by d-sm-block d-none">
                            <span class="sortby-fliter">
                                <ng-select2 width="100%">
                                    <option>Select</option>
                                        <option class="sorting">Rating</option>
                                        <option class="sorting">Popular</option>
                                        <option class="sorting">Latest</option>
                                        <option class="sorting">Free</option>
                                </ng-select2>
                            </span>
                        </div>
                    </div>
                </div>

                <!-- Doctor Widget -->
                <div class="card">
                    <div class="card-body">
                        <div class="provider-widget">
                            <div class="pro-info-left">
                                <div class="provider-img">
                                    <a routerLink='/students/instructor-profile'>
                                        <img src="assets/img/instructors/instructor-thumb-01.jpg" class="img-fluid" alt="User Image">
                                    </a>
                                </div>
                                <div class="pro-info-cont">
                                    <h4 class="pro-name"><a routerLink='/students/instructor-profile'>David Lee</a></h4>
                                    <p class="pro-speciality">B.Tech, Aerospace Engineer</p>
                                    <h5 class="pro-department"><img src="assets/img/icon.png" class="img-fluid" alt="Speciality">Instructor</h5>
                                    <div class="rating">
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star"></i>
                                        <span class="d-inline-block average-rating">(17)</span>
                                    </div>
                                    <div class="clinic-details">
                                        <p class="pro-location"><i class="fas fa-map-marker-alt"></i> Florida, USA</p>
                                        <ul class="clinic-gallery" lightbox-group>
                                            <li *ngFor="let image of images" >
                                                <a><img [src]="image.path" lightbox /></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="clinic-services">
                                        <span>Courses</span>
                                        <span> Massage</span>
                                    </div>
                                </div>
                            </div>
                            <div class="pro-info-right">
                                <div class="clini-infos">
                                    <ul>
                                        <li><i class="far fa-thumbs-up"></i> 98%</li>
                                        <li><i class="far fa-comment"></i> 17 Feedback</li>
                                        <li><i class="fas fa-map-marker-alt"></i> Florida, USA</li>
                                        <li><i class="far fa-money-bill-alt"></i> $300 - $1000 <i class="fas fa-info-circle" data-toggle="tooltip" title="Lorem Ipsum"></i> </li>
                                    </ul>
                                </div>
                                <div class="clinic-booking">
                                    <a class="view-pro-btn" routerLink='/students/instructor-profile'>View Profile</a>
                                    <a class="apt-btn" routerLink='/students/booking'>Book Appointment</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Doctor Widget -->

                <!-- Doctor Widget -->
                <div class="card">
                    <div class="card-body">
                        <div class="provider-widget">
                            <div class="pro-info-left">
                                <div class="provider-img">
                                    <a routerLink='/students/instructor-profile'>
                                        <img src="assets/img/instructors/instructor-thumb-02.jpg" class="img-fluid" alt="User Image">
                                    </a>
                                </div>
                                <div class="pro-info-cont">
                                    <h4 class="pro-name"><a routerLink='/students/instructor-profile'>Sofia Brient</a></h4>
                                    <p class="pro-speciality">B.Tech, Aerospace Engineer</p>
                                    <h5 class="pro-department"><img src="assets/img/icon.png" class="img-fluid" alt="Speciality">Instructor</h5>
                                    <div class="rating">
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star"></i>
                                        <span class="d-inline-block average-rating">(35)</span>
                                    </div>
                                    <div class="clinic-details">
                                        <p class="pro-location"><i class="fas fa-map-marker-alt"></i> Newyork, USA</p>
                                        <ul class="clinic-gallery" lightbox-group>
                                            <li *ngFor="let image of images" >
                                                <a><img [src]="image.path" lightbox /></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="clinic-services">
                                        <span>Courses</span>
                                        <span> Massage</span>
                                    </div>
                                </div>
                            </div>
                            <div class="pro-info-right">
                                <div class="clini-infos">
                                    <ul>
                                        <li><i class="far fa-thumbs-up"></i> 100%</li>
                                        <li><i class="far fa-comment"></i> 35 Feedback</li>
                                        <li><i class="fas fa-map-marker-alt"></i> Newyork, USA</li>
                                        <li><i class="far fa-money-bill-alt"></i> $50 - $300 <i class="fas fa-info-circle" data-toggle="tooltip" title="Lorem Ipsum"></i></li>
                                    </ul>
                                </div>
                                <div class="clinic-booking">
                                    <a class="view-pro-btn" routerLink='/students/instructor-profile'>View Profile</a>
                                    <a class="apt-btn" routerLink='/students/booking'>Book Appointment</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Doctor Widget -->

                <!-- Doctor Widget -->
                <div class="card">
                    <div class="card-body">
                        <div class="provider-widget">
                            <div class="pro-info-left">
                                <div class="provider-img">
                                    <a routerLink='/students/instructor-profile'>
                                        <img src="assets/img/instructors/instructor-thumb-03.jpg" class="img-fluid" alt="User Image">
                                    </a>
                                </div>
                                <div class="pro-info-cont">
                                    <h4 class="pro-name"><a routerLink='/students/instructor-profile'>Darren Pennet</a></h4>
                                    <p class="pro-speciality">B.Tech, Aerospace Engineer</p>
                                    <p class="pro-department"><img src="assets/img/icon.png" class="img-fluid" alt="Speciality">Instructor</p>
                                    <div class="rating">
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star"></i>
                                        <span class="d-inline-block average-rating">(27)</span>
                                    </div>
                                    <div class="clinic-details">
                                        <p class="pro-location"><i class="fas fa-map-marker-alt"></i> Georgia, USA</p>
                                        <ul class="clinic-gallery" lightbox-group>
                                            <li *ngFor="let image of images" >
                                                <a><img [src]="image.path" lightbox /></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="clinic-services">
                                        <span>Courses</span>
                                        <span> Massage</span>
                                    </div>
                                </div>
                            </div>
                            <div class="pro-info-right">
                                <div class="clini-infos">
                                    <ul>
                                        <li><i class="far fa-thumbs-up"></i> 99%</li>
                                        <li><i class="far fa-comment"></i> 35 Feedback</li>
                                        <li><i class="fas fa-map-marker-alt"></i> Newyork, USA</li>
                                        <li><i class="far fa-money-bill-alt"></i> $100 - $400 <i class="fas fa-info-circle" data-toggle="tooltip" title="Lorem Ipsum"></i></li>
                                    </ul>
                                </div>
                                <div class="clinic-booking">
                                    <a class="view-pro-btn" routerLink='/students/instructor-profile'>View Profile</a>
                                    <a class="apt-btn" routerLink='/students/booking'>Book Appointment</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Doctor Widget -->

                <!-- Doctor Widget -->
                <div class="card">
                    <div class="card-body">
                        <div class="provider-widget">
                            <div class="pro-info-left">
                                <div class="provider-img">
                                    <a routerLink='/students/instructor-profile'>
                                        <img src="assets/img/instructors/instructor-thumb-04.jpg" class="img-fluid" alt="User Image">
                                    </a>
                                </div>
                                <div class="pro-info-cont">
                                    <h4 class="pro-name"><a routerLink='/students/instructor-profile'>Ruby Perrin</a></h4>
                                    <p class="pro-speciality">B.Tech, Aerospace Engineer</p>
                                    <p class="pro-department"><img src="assets/img/icon.png" class="img-fluid" alt="Speciality">Instructor</p>
                                    <div class="rating">
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star"></i>
                                        <span class="d-inline-block average-rating">(4)</span>
                                    </div>
                                    <div class="clinic-details">
                                        <p class="pro-location"><i class="fas fa-map-marker-alt"></i> Louisiana, USA</p>
                                        <ul class="clinic-gallery" lightbox-group>
                                            <li *ngFor="let image of images" >
                                                <a><img [src]="image.path" lightbox /></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="clinic-services">
                                        <span>Courses</span>
                                        <span> Massage</span>
                                    </div>
                                </div>
                            </div>
                            <div class="pro-info-right">
                                <div class="clini-infos">
                                    <ul>
                                        <li><i class="far fa-thumbs-up"></i> 97%</li>
                                        <li><i class="far fa-comment"></i> 4 Feedback</li>
                                        <li><i class="fas fa-map-marker-alt"></i> Newyork, USA</li>
                                        <li><i class="far fa-money-bill-alt"></i> $150 - $250 <i class="fas fa-info-circle" data-toggle="tooltip" title="Lorem Ipsum"></i></li>
                                    </ul>
                                </div>
                                <div class="clinic-booking">
                                    <a class="view-pro-btn" routerLink='/students/instructor-profile'>View Profile</a>
                                    <a class="apt-btn" routerLink='/students/booking'>Book Appointment</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Doctor Widget -->

                <!-- Doctor Widget -->
                <div class="card">
                    <div class="card-body">
                        <div class="provider-widget">
                            <div class="pro-info-left">
                                <div class="provider-img">
                                    <a routerLink='/students/instructor-profile'>
                                        <img src="assets/img/instructors/instructor-thumb-05.jpg" class="img-fluid" alt="User Image">
                                    </a>
                                </div>
                                <div class="pro-info-cont">
                                    <h4 class="pro-name"><a routerLink='/students/instructor-profile'>Ashley Willes</a></h4>
                                    <p class="pro-speciality">B.Tech, Aerospace Engineer</p>
                                    <p class="pro-department"><img src="assets/img/icon.png" class="img-fluid" alt="Speciality">Instructor</p>
                                    <div class="rating">
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star"></i>
                                        <span class="d-inline-block average-rating">(52)</span>
                                    </div>
                                    <div class="clinic-details">
                                        <p class="pro-location"><i class="fas fa-map-marker-alt"></i> Texas, USA</p>
                                        <ul class="clinic-gallery" lightbox-group>
                                            <li *ngFor="let image of images" >
                                                <a><img [src]="image.path" lightbox /></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="clinic-services">
                                        <span>Courses</span>
                                        <span> Massage</span>
                                    </div>
                                </div>
                            </div>
                            <div class="pro-info-right">
                                <div class="clini-infos">
                                    <ul>
                                        <li><i class="far fa-thumbs-up"></i> 100%</li>
                                        <li><i class="far fa-comment"></i> 52 Feedback</li>
                                        <li><i class="fas fa-map-marker-alt"></i> Texas, USA</li>
                                        <li><i class="far fa-money-bill-alt"></i> $100 - $500 <i class="fas fa-info-circle" data-toggle="tooltip" title="Lorem Ipsum"></i></li>
                                    </ul>
                                </div>
                                <div class="clinic-booking">
                                    <a class="view-pro-btn" routerLink='/students/instructor-profile'>View Profile</a>
                                    <a class="apt-btn" routerLink='/students/booking'>Book Appointment</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Doctor Widget -->
                    
                <div class="load-more text-center">
                    <a class="btn btn-primary btn-sm" href="javascript:void(0);">Load More</a>	
                </div>
            </div>
            <!-- /content-left-->
            <div class="col-xl-5 col-lg-12 map-right">
                <div id="map" class="map-listing"></div>
                <!-- map-->
            </div>
            <!-- /map-right-->
        </div>
        <!-- /row-->

    </div>

</div>		
<!-- /Page Content -->