<!-- Breadcrumb -->
<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink='/'>Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Courses</li>
                    </ol>
                </nav>
                <h2 class="breadcrumb-title">Courses</h2>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
    <div class="container">

        <div class="row">
            <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
            
                <!-- Profile Sidebar -->
                <div class="profile-sidebar">
                    <div class="widget-profile pro-widget-content">
                        <div class="profile-info-widget">
                            <a href="#" class="booking-pro-img">
                                <img src="assets/img/instructors/instructor-thumb-01.jpg" alt="User Image">
                            </a>
                            <div class="profile-det-info">
                                <h3>David Lee</h3>
                                
                                <div class="customer-details">
                                    <h5 class="mb-0"><a routerLink='/instructors/course-details'>Aerospace Engineering</a></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dashboard-widget">
                        <nav class="dashboard-menu">
                            <ul>
                                <li>
                                    <a routerLink='/instructors/instructor-dashboard'>
                                        <i class="fas fa-columns"></i>
                                        <span>Dashboard</span>
                                    </a>
                                </li>
                                <li>
                                    <a routerLink='/instructors/appointments'>
                                        <i class="fas fa-calendar-check"></i>
                                        <span>Appointments</span>
                                    </a>
                                </li>											
                                <li class="active">
                                    <a routerLink='/instructors/courses'>
                                        <i class="fas fa-user-injured"></i>
                                        <span>Courses</span>
                                    </a>
                                </li>
                                <li>
                                    <a routerLink='/instructors/my-student'>
                                        <i class="fas fa-user-injured"></i>
                                        <span>My Instructor</span>
                                    </a>
                                </li>
                                <li>
                                    <a routerLink='/instructors/schedule-timings'>
                                        <i class="fas fa-hourglass-start"></i>
                                        <span>Schedule Timings</span>
                                    </a>
                                </li>
                                <li>
                                    <a routerLink='/pages/invoices'>
                                        <i class="fas fa-file-invoice"></i>
                                        <span>Invoices</span>
                                    </a>
                                </li>
                                <li>
                                    <a routerLink='/instructors/reviews'>
                                        <i class="fas fa-star"></i>
                                        <span>Reviews</span>
                                    </a>
                                </li>
                                <li>
                                    <a routerLink='/instructors/chat-instructor'>
                                        <i class="fas fa-comments"></i>
                                        <span>Message</span>
                                        <small class="unread-msg">23</small>
                                    </a>
                                </li>
                                <li>
                                    <a routerLink='/instructors/instructor-profile-settings'>
                                        <i class="fas fa-user-cog"></i>
                                        <span>Profile Settings</span>
                                    </a>
                                </li>
                                <li>
                                    <a routerLink='/instructors/social-media'>
                                        <i class="fas fa-share-alt"></i>
                                        <span>Social Media</span>
                                    </a>
                                </li>
                                <li>
                                    <a routerLink='/instructors/instructor-change-password'>
                                        <i class="fas fa-lock"></i>
                                        <span>Change Password</span>
                                    </a>
                                </li>
                                <li>
                                    <a routerLink='/'>
                                        <i class="fas fa-sign-out-alt"></i>
                                        <span>Logout</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- /Profile Sidebar -->
                
            </div>
            <div class="col-md-7 col-lg-8 col-xl-9">
            
                <div class="row row-grid">
                    <div class="col-md-6 col-lg-4">
                        <div class="course-section">
                            <div class="course-top">
                                <div class="course-img">
                                    <img src="assets/img/courses/course-01.jpg" alt="" class="img-fluid">
                                </div>
                                <div class="course-text d-flex justify-content-between align-items-center">
                                    <div class="left">3.2</div>
                                        <div class="right">$40.00</div>
                                    </div>
                                <div class="course-user">
                                    <img src="assets/img/instructors/instructor-thumb-01.jpg" alt="" class="img-fluid">
                                </div>
                            </div>
                            <div class="course-content">
                                <h5>Imperial College London</h5>
                                <h2><a routerLink='/instructors/course-details'>Electrical Engineering</a></h2>
                                <p>Technology / Space / Electrical</p>							
                                <div class="d-flex align-items-center justify-content-between course-slots">
                                    <div class="slot">
                                        <p>Total Seats</p>
                                        <h5>200</h5>
                                    </div>
                                    <div class="slot">
                                        <p>Available</p>
                                        <h5>100</h5>
                                    </div>
                                    <div class="slot">
                                        <p>Duration</p>
                                        <h5>6 Months</h5>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <a routerLink='/students/booking' class="btn course-btn">Book Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6 col-lg-4">
                        <div class="course-section">
                            <div class="course-top">
                                <div class="course-img">
                                    <img src="assets/img/courses/course-02.jpg" alt="" class="img-fluid">
                                </div>
                                <div class="course-text d-flex justify-content-between align-items-center">
                                    <div class="left">3.2</div>
                                        <div class="right">$40.00</div>
                                    </div>
                                <div class="course-user">
                                    <img src="assets/img/instructors/instructor-thumb-01.jpg" alt="" class="img-fluid">
                                </div>
                            </div>
                            <div class="course-content">
                                <h5>Imperial College London</h5>
                                <h2><a routerLink='/instructors/course-details'>Computer Engineering</a></h2>
                                <p>Technology / Space / Computer</p>							
                                <div class="d-flex align-items-center justify-content-between course-slots">
                                    <div class="slot">
                                        <p>Total Seats</p>
                                        <h5>200</h5>
                                    </div>
                                    <div class="slot">
                                        <p>Available</p>
                                        <h5>100</h5>
                                    </div>
                                    <div class="slot">
                                        <p>Duration</p>
                                        <h5>6 Months</h5>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <a routerLink='/students/booking' class="btn course-btn">Book Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6 col-lg-4">
                        <div class="course-section">
                            <div class="course-top">
                                <div class="course-img">
                                    <img src="assets/img/courses/course-03.jpg" alt="" class="img-fluid">
                                </div>
                                <div class="course-text d-flex justify-content-between align-items-center">
                                    <div class="left">3.2</div>
                                        <div class="right">$40.00</div>
                                    </div>
                                <div class="course-user">
                                    <img src="assets/img/instructors/instructor-thumb-01.jpg" alt="" class="img-fluid">
                                </div>
                            </div>
                            <div class="course-content">
                                <h5>Imperial College London</h5>
                                <h2><a routerLink='/instructors/course-details'>Construction Design</a></h2>
                                <p>Technology / Space / Construction</p>							
                                <div class="d-flex align-items-center justify-content-between course-slots">
                                    <div class="slot">
                                        <p>Total Seats</p>
                                        <h5>200</h5>
                                    </div>
                                    <div class="slot">
                                        <p>Available</p>
                                        <h5>100</h5>
                                    </div>
                                    <div class="slot">
                                        <p>Duration</p>
                                        <h5>6 Months</h5>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <a routerLink='/students/booking' class="btn course-btn">Book Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6 col-lg-4">
                        <div class="course-section">
                            <div class="course-top">
                                <div class="course-img">
                                    <img src="assets/img/courses/course-04.jpg" alt="" class="img-fluid">
                                </div>
                                <div class="course-text d-flex justify-content-between align-items-center">
                                    <div class="left">3.2</div>
                                        <div class="right">$40.00</div>
                                    </div>
                                <div class="course-user">
                                    <img src="assets/img/instructors/instructor-thumb-01.jpg" alt="" class="img-fluid">
                                </div>
                            </div>
                            <div class="course-content">
                                <h5>Imperial College London</h5>
                                <h2><a routerLink='/instructors/course-details'>Aerospace Engineering</a></h2>
                                <p>Technology / Space / Aerospace</p>							
                                <div class="d-flex align-items-center justify-content-between course-slots">
                                    <div class="slot">
                                        <p>Total Seats</p>
                                        <h5>200</h5>
                                    </div>
                                    <div class="slot">
                                        <p>Available</p>
                                        <h5>100</h5>
                                    </div>
                                    <div class="slot">
                                        <p>Duration</p>
                                        <h5>6 Months</h5>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <a routerLink='/students/booking' class="btn course-btn">Book Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6 col-lg-4">
                        <div class="course-section">
                            <div class="course-top">
                                <div class="course-img">
                                    <img src="assets/img/courses/course-05.jpg" alt="" class="img-fluid">
                                </div>
                                <div class="course-text d-flex justify-content-between align-items-center">
                                    <div class="left">3.2</div>
                                        <div class="right">$40.00</div>
                                    </div>
                                <div class="course-user">
                                    <img src="assets/img/instructors/instructor-thumb-01.jpg" alt="" class="img-fluid">
                                </div>
                            </div>
                            <div class="course-content">
                                <h5>Imperial College London</h5>
                                <h2><a routerLink='/instructors/course-details'>Architecture Design</a></h2>
                                <p>Technology / Space / Architecture</p>							
                                <div class="d-flex align-items-center justify-content-between course-slots">
                                    <div class="slot">
                                        <p>Total Seats</p>
                                        <h5>200</h5>
                                    </div>
                                    <div class="slot">
                                        <p>Available</p>
                                        <h5>100</h5>
                                    </div>
                                    <div class="slot">
                                        <p>Duration</p>
                                        <h5>6 Months</h5>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <a routerLink='/students/booking' class="btn course-btn">Book Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6 col-lg-4">
                        <div class="course-section">
                            <div class="course-top">
                                <div class="course-img">
                                    <img src="assets/img/courses/course-06.jpg" alt="" class="img-fluid">
                                </div>
                                <div class="course-text d-flex justify-content-between align-items-center">
                                    <div class="left">3.2</div>
                                        <div class="right">$40.00</div>
                                    </div>
                                <div class="course-user">
                                    <img src="assets/img/instructors/instructor-thumb-01.jpg" alt="" class="img-fluid">
                                </div>
                            </div>
                            <div class="course-content">
                                <h5>Imperial College London</h5>
                                <h2><a routerLink='/instructors/course-details'>Fine Arts</a></h2>
                                <p>Technology / Space / Arts</p>							
                                <div class="d-flex align-items-center justify-content-between course-slots">
                                    <div class="slot">
                                        <p>Total Seats</p>
                                        <h5>200</h5>
                                    </div>
                                    <div class="slot">
                                        <p>Available</p>
                                        <h5>100</h5>
                                    </div>
                                    <div class="slot">
                                        <p>Duration</p>
                                        <h5>6 Months</h5>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <a routerLink='/students/booking' class="btn course-btn">Book Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6 col-lg-4">
                        <div class="course-section">
                            <div class="course-top">
                                <div class="course-img">
                                    <img src="assets/img/courses/course-07.jpg" alt="" class="img-fluid">
                                </div>
                                <div class="course-text d-flex justify-content-between align-items-center">
                                    <div class="left">3.2</div>
                                        <div class="right">$40.00</div>
                                    </div>
                                <div class="course-user">
                                    <img src="assets/img/instructors/instructor-thumb-01.jpg" alt="" class="img-fluid">
                                </div>
                            </div>
                            <div class="course-content">
                                <h5>Imperial College London</h5>
                                <h2><a routerLink='/instructors/course-details'>Business Management</a></h2>
                                <p>Technology / Space / Business</p>							
                                <div class="d-flex align-items-center justify-content-between course-slots">
                                    <div class="slot">
                                        <p>Total Seats</p>
                                        <h5>200</h5>
                                    </div>
                                    <div class="slot">
                                        <p>Available</p>
                                        <h5>100</h5>
                                    </div>
                                    <div class="slot">
                                        <p>Duration</p>
                                        <h5>6 Months</h5>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <a routerLink='/students/booking' class="btn course-btn">Book Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6 col-lg-4">
                        <div class="course-section">
                            <div class="course-top">
                                <div class="course-img">
                                    <img src="assets/img/courses/course-08.jpg" alt="" class="img-fluid">
                                </div>
                                <div class="course-text d-flex justify-content-between align-items-center">
                                    <div class="left">3.2</div>
                                        <div class="right">$40.00</div>
                                    </div>
                                <div class="course-user">
                                    <img src="assets/img/instructors/instructor-thumb-01.jpg" alt="" class="img-fluid">
                                </div>
                            </div>
                            <div class="course-content">
                                <h5>Imperial College London</h5>
                                <h2><a routerLink='/instructors/course-details'>Electrical Engineering</a></h2>
                                <p>Technology / Space / Electrical</p>							
                                <div class="d-flex align-items-center justify-content-between course-slots">
                                    <div class="slot">
                                        <p>Total Seats</p>
                                        <h5>200</h5>
                                    </div>
                                    <div class="slot">
                                        <p>Available</p>
                                        <h5>100</h5>
                                    </div>
                                    <div class="slot">
                                        <p>Duration</p>
                                        <h5>6 Months</h5>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <a routerLink='/students/booking' class="btn course-btn">Book Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6 col-lg-4">
                        <div class="course-section">
                            <div class="course-top">
                                <div class="course-img">
                                    <img src="assets/img/courses/course-01.jpg" alt="" class="img-fluid">
                                </div>
                                <div class="course-text d-flex justify-content-between align-items-center">
                                    <div class="left">3.2</div>
                                        <div class="right">$40.00</div>
                                    </div>
                                <div class="course-user">
                                    <img src="assets/img/instructors/instructor-thumb-01.jpg" alt="" class="img-fluid">
                                </div>
                            </div>
                            <div class="course-content">
                                <h5>Imperial College London</h5>
                                <h2><a routerLink='/instructors/course-details'>Aerospace Engineering</a></h2>
                                <p>Technology / Space / Aerospace</p>							
                                <div class="d-flex align-items-center justify-content-between course-slots">
                                    <div class="slot">
                                        <p>Total Seats</p>
                                        <h5>200</h5>
                                    </div>
                                    <div class="slot">
                                        <p>Available</p>
                                        <h5>100</h5>
                                    </div>
                                    <div class="slot">
                                        <p>Duration</p>
                                        <h5>6 Months</h5>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <a routerLink='/students/booking' class="btn course-btn">Book Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                                                
                </div>

            </div>
        </div>

    </div>

</div>		
<!-- /Page Content -->