 <!-- Search -->
 <div class="card search-widget">
    <div class="card-body">
        <form class="search-form">
            <div class="input-group">
                <input type="text" placeholder="Search..." class="form-control">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- /Search -->

<!-- Latest Posts -->
<div class="card post-widget">
    <div class="card-header">
        <h4 class="card-title">Latest Posts</h4>
    </div>
    <div class="card-body">
        <ul class="latest-posts">
            <li>
                <div class="post-thumb">
                    <a routerLink='/blog/blog-details'>
                        <img class="img-fluid" src="assets/img/blog/blog-thumb-01.jpg" alt="">
                    </a>
                </div>
                <div class="post-info">
                    <h4>
                        <a routerLink='/blog/blog-details'>New Year ispiration Event - 2021</a>
                    </h4>
                    <p>4 Dec 2020</p>
                </div>
            </li>
            <li>
                <div class="post-thumb">
                    <a routerLink='/blog/blog-details'>
                        <img class="img-fluid" src="assets/img/blog/blog-thumb-02.jpg" alt="">
                    </a>
                </div>
                <div class="post-info">
                    <h4>
                        <a routerLink='/blog/blog-details'>Wayte Barlow new Album Song release Event</a>
                    </h4>
                    <p>3 Dec 2020</p>
                </div>
            </li>
            <li>
                <div class="post-thumb">
                    <a routerLink='/blog/blog-details'>
                        <img class="img-fluid" src="assets/img/blog/blog-thumb-03.jpg" alt="">
                    </a>
                </div>
                <div class="post-info">
                    <h4>
                        <a routerLink='/blog/blog-details'>The Rock & Roll Valentine’s Day Party</a>
                    </h4>
                    <p>3 Dec 2020</p>
                </div>
            </li>
            <li>
                <div class="post-thumb">
                    <a routerLink='/blog/blog-details'>
                        <img class="img-fluid" src="assets/img/blog/blog-thumb-04.jpg" alt="">
                    </a>
                </div>
                <div class="post-info">
                    <h4>
                        <a routerLink='/blog/blog-details'>Sweets & Unicorns Birthday Events</a>
                    </h4>
                    <p>2 Dec 2020</p>
                </div>
            </li>
            <li>
                <div class="post-thumb">
                    <a routerLink='/blog/blog-details'>
                        <img class="img-fluid" src="assets/img/blog/blog-thumb-05.jpg" alt="">
                    </a>
                </div>
                <div class="post-info">
                    <h4>
                        <a routerLink='/blog/blog-details'>Love Wedding Hall</a>
                    </h4>
                    <p>1 Dec 2020</p>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- /Latest Posts -->

<!-- Categories -->
<div class="card category-widget">
    <div class="card-header">
        <h4 class="card-title">Blog Categories</h4>
    </div>
    <div class="card-body">
        <ul class="categories">
            <li><a href="#">DJ Reader <span>(62)</span></a></li>
            <li><a href="#">Ispiration Event <span>(27)</span></a></li>
            <li><a href="#">Event Management <span>(41)</span></a></li>
            <li><a href="#">Conference Tips <span>(16)</span></a></li>
            <li><a href="#">Wedding Halls <span>(55)</span></a></li>
            <li><a href="#">Online Booking <span>(07)</span></a></li>
        </ul>
    </div>
</div>
<!-- /Categories -->

<!-- Tags -->
<div class="card tags-widget">
    <div class="card-header">
        <h4 class="card-title">Tags</h4>
    </div>
    <div class="card-body">
        <ul class="tags">
            <li><a href="#" class="tag">Wedding</a></li>
            <li><a href="#" class="tag">Halls</a></li>
            <li><a href="#" class="tag">Appointment</a></li>
            <li><a href="#" class="tag">Booking</a></li>
            <li><a href="#" class="tag">Birthday</a></li>
            <li><a href="#" class="tag">Conference</a></li>
            <li><a href="#" class="tag">New Year</a></li>
            <li><a href="#" class="tag">Program</a></li>
            <li><a href="#" class="tag">Shedule</a></li>
            <li><a href="#" class="tag">Plans</a></li>
            <li><a href="#" class="tag">Party</a></li>
            <li><a href="#" class="tag">Events</a></li>
            <li><a href="#" class="tag">Online</a></li>
            <li><a href="#" class="tag">Mettings</a></li>
            <li><a href="#" class="tag">Tech Events</a></li>
            <li><a href="#" class="tag">Speakers</a></li>
            <li><a href="#" class="tag">DJ, Mix Engineer</a></li>
            <li><a href="#" class="tag">DJ, Producers</a></li>
            <li><a href="#" class="tag">Specialist</a></li>
            <li><a href="#" class="tag">Pathivu</a></li>
        </ul>
    </div>
</div>
<!-- /Tags -->
