<!-- Home Banner -->
<section class="section section-banner">
    <div class="container">
        <div class="banner-wrapper">							
            <div class="wrapper-content text-center">
                <div class="banner-header">
                    <h1>Find the best event hall</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut consequat mauris </p>
                </div>	
                
                <div class="search-box">
                    <form action="">
                        <div class="form-search">
                            <div class="form-inner">
                                <div class="form-group search-info">
                                    <i class="fas fa-expand-arrows-alt bficon"></i>
                                    <input type="text" class="form-control" placeholder="Search Event Hall">
                                </div>
                                <div class="form-group search-location">
                                    <i class="fas fa-map-marker-alt"></i>
                                    <input type="text" class="form-control" placeholder="Location">
                                    <a class="current-loc-icon" href="javascript:void(0);"><i class="fas fa-crosshairs"></i></a>
                                </div>
                                <button type="submit" class="btn btn-primary search-btn mt-0"><i class="fas fa-search"></i> Search</button>
                            </div>
                        </div>
                    </form>
                </div>						
            </div>
        </div>
    </div>
</section>
<!-- /Home Banner -->

<!-- Popular Events -->
<section class="popular-events">
    <div class="container">
        <div class="section-wraper row d-flex align-items-center">
            <div class="col-md-6 section-header mb-0">
                <p>#popular events hall</p>
                <h2>find the event hallS.</h2>
            </div>
            <div class="col-md-6 text-right">
                <a routerLink='/pages/event-details' class="view-all">View all</a>
            </div>
        </div>	
        
        <div class="row">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                <div class="service-box">
                    <div class="service-img">
                        <img src="assets/img/img-08.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="overlay-content">						
                        <div class="rating">
                            <i class="fas fa-star filled"></i>
                            <i class="fas fa-star filled"></i>
                            <i class="fas fa-star filled"></i>
                            <i class="fas fa-star filled"></i>
                            <i class="fas fa-star"></i>
                            <span class="d-inline-block">3.5</span>
                        </div>
                        <ul class="available-info">
                            <li>
                                <a routerLink='/pages/event-details'><h3>Mint Park Hall</h3></a> 
                            </li>
                            <li>
                                <p>New Jersey, United States</p>
                            </li>
                            <li>
                                <h4>150 Seats</h4>
                            </li>
                        </ul>
                        <div class="row row-sm">
                            <div class="col-6">
                                <a routerLink='/customers/booking' class="btn bok-btn" tabindex="0">Book Now</a>
                            </div>
                            <div class="col-6 text-right">
                                <a href="javascript:void(0);" class="rate cursor-auto" tabindex="0">$ 200.00/HR</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="service-box">
                    <div class="service-img">
                        <img src="assets/img/img-05.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="overlay-content">						
                        <div class="rating">
                            <i class="fas fa-star filled"></i>
                            <i class="fas fa-star filled"></i>
                            <i class="fas fa-star filled"></i>
                            <i class="fas fa-star filled"></i>
                            <i class="fas fa-star filled"></i>
                            <span class="d-inline-block">5</span>
                        </div>
                        <ul class="available-info">
                            <li>
                                <a routerLink='/pages/event-details'><h3>Ark Royal Venue</h3></a> 
                            </li>
                            <li>
                                <p>Maryland, United States</p>
                            </li>
                            <li>
                                <h4>400 Seats</h4>
                            </li>
                        </ul>
                        <div class="row row-sm">
                            <div class="col-6">
                                <a routerLink='/customers/booking' class="btn bok-btn" tabindex="0">Book Now</a>
                            </div>
                            <div class="col-6 text-right">
                                <a href="javascript:void(0);" class="rate cursor-auto" tabindex="0">$ 450.00/HR</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                <div class="service-box">
                    <div class="service-img">
                        <img src="assets/img/img-09.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="overlay-content">						
                        <div class="rating">
                            <i class="fas fa-star filled"></i>
                            <i class="fas fa-star filled"></i>
                            <i class="fas fa-star filled"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <span class="d-inline-block">3</span>
                        </div>
                        <ul class="available-info">
                            <li>
                                <a routerLink='/pages/event-details'><h3>Sea Shore Hall</h3></a> 
                            </li>
                            <li>
                                <p>Pennsylvania, United States</p>
                            </li>
                            <li>
                                <h4>200 Seats</h4>
                            </li>
                        </ul>
                        <div class="row row-sm">
                            <div class="col-6">
                                <a routerLink='/customers/booking' class="btn bok-btn" tabindex="0">Book Now</a>
                            </div>
                            <div class="col-6 text-right">
                                <a href="javascript:void(0);" class="rate cursor-auto" tabindex="0">$ 650.00/HR</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                <div class="service-box">
                    <div class="service-img">
                        <img src="assets/img/img-06.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="overlay-content">						
                        <div class="rating">
                            <i class="fas fa-star filled"></i>
                            <i class="fas fa-star filled"></i>
                            <i class="fas fa-star filled"></i>
                            <i class="fas fa-star filled"></i>
                            <i class="fas fa-star filled"></i>
                            <span class="d-inline-block">5</span>
                        </div>
                        <ul class="available-info">
                            <li>
                                <a routerLink='/pages/event-details'><h3>Lake View Hall</h3></a> 
                            </li>
                            <li>
                                <p>California, United States</p>
                            </li>
                            <li>
                                <h4>500 Seats</h4>
                            </li>
                        </ul>
                        <div class="row row-sm">
                            <div class="col-6">
                                <a routerLink='/customers/booking' class="btn bok-btn" tabindex="0">Book Now</a>
                            </div>
                            <div class="col-6 text-right">
                                <a href="javascript:void(0);" class="rate cursor-auto" tabindex="0">$ 250.00/HR</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="service-box">
                    <div class="service-img">
                        <img src="assets/img/img-07.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="overlay-content">						
                        <div class="rating">
                            <i class="fas fa-star filled"></i>
                            <i class="fas fa-star filled"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <span class="d-inline-block">2</span>
                        </div>
                        <ul class="available-info">
                            <li>
                                <a routerLink='/pages/event-details'><h3>Mountain Hill Hall</h3></a> 
                            </li>
                            <li>
                                <p>Indiana, United States</p>
                            </li>
                            <li>
                                <h4>320 Seats</h4>
                            </li>
                        </ul>
                        <div class="row row-sm">
                            <div class="col-6">
                                <a routerLink='/customers/booking' class="btn bok-btn" tabindex="0">Book Now</a>
                            </div>
                            <div class="col-6 text-right">
                                <a href="javascript:void(0);" class="rate cursor-auto" tabindex="0">$ 700.00/HR</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- /Popular Events -->

<!-- News-->
<section class="news-events">
    <div class="container">					
        <div class="section-wraper row d-flex align-items-center">
            <div class="col-md-6 section-header mb-0">
                <p>#FEATURED EVENTS</p>
                <h2>Upcoming new events.</h2>
            </div>
            <div class="col-md-6 text-right">
                <a routerLink='/speakers/events' class="view-all">View all</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <owl-carousel-o [options]="event" class="event-slider slider">
                    <ng-container *ngFor='let slide of eventSlides'>
                        <ng-template carouselSlide>
                            <div class="profile-widget">
                                <div class="doc-img">
                                    <a routerLink='/pages/event-details'>
                                        <img class="img-fluid" alt="User Image" src="{{slide.img}}">
                                    </a>
                                </div>
                                <div class="pro-content">
                                    <div class="date-sec">
                                        <h3>{{slide.month}}
                                            <span>2021</span>
                                        </h3>
                                    </div>
                                    <h3 class="title">
                                        <span>{{slide.title}}</span>
                                        <a routerLink="/pages/event-details">{{slide.heading}}</a>
                                    </h3>
                                    <p class="add-cont">{{slide.address}}</p>
                                    <div class="profile-info d-flex">
                                        <a routerLink="/customers/speaker-profile" class="profile-img">
                                            <img src="{{slide.proimg}}" alt="">
                                        </a>
                                        <a routerLink='/customers/speaker-profile'>
                                            <span class="profile-name">{{slide.name}}</span>
                                            <span class="profile-pro">{{slide.suntxt}}</span>
                                        </a>
                                    </div>
                                    <div class="row row-sm seat-details">
                                        <div class="col-6">
                                            <div class="d-flex align-items-center">
                                                <a href="javascript:void(0);"><img src="assets/img/icon-04.png" alt=""></a> 
                                                <a href="#">
                                                    <span class="available-info">Available Seats</span>
                                                    <span class="price-info">210/265</span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="d-flex align-items-center">
                                                <a href="javascript:void(0);"><img src="assets/img/icon-05.png" alt=""></a> 
                                                <a href="javascript:void(0);">
                                                    <span class="available-info">Timings</span>
                                                    <span class="price-info">12:30 - 02:00 PM</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row row-sm align-items-center d-flex">
                                        <div class="col-6">
                                            <a routerLink='/customers/booking' class="now-btn">Book now <i class="fas fa-long-arrow-alt-right"></i></a>
                                        </div>
                                        <div class="col-6 text-right">
                                            <a href="javascript:void(0);" class="amt-txt">{{slide.amount}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
            </div>
        </div>
        
    </div>
</section>
<!--/News-->

<!-- Speakers-->
<section class="speakers speaker-section">
    <div class="container">										
        <div class="section-wraper row d-flex align-items-center">
            <div class="col-md-6 section-header mb-0">
                <p>#POPULAR SPEAKERS</p>
                <h2>Meet our first speakers.</h2>
            </div>
            <div class="col-md-6 text-right">
                <a routerLink='customers/speakers/map-grid' class="view-all">View all</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <owl-carousel-o [options]="news" class="event-slider slider">
                    <ng-container *ngFor='let slide of newsSlides'>
                        <ng-template carouselSlide>
                            <div class="single-team">
                                <div class="team-img">
                                    <a routerLink='/customers/speaker-profile'>
                                        <img class="img-fluid" alt="User Image" src="{{slide.img}}">
                                    </a>
                                </div>
                                <div class="team-content">
                                    <h3 class="title">
                                        <a routerLink='/customers/speaker-profile'>{{slide.name}}</a> 
                                    </h3>
                                    <p class="sub-title">{{slide.heading}}</p>								
                                    <div class="row row-sm align-items-center d-flex">
                                        <div class="col-6">
                                            <a routerLink='/customers/booking' class="now-btn">Book now <i class="fas fa-long-arrow-alt-right"></i></a>
                                        </div>
                                        <div class="col-6 text-right">
                                            <a href="javascript:void(0);" class="amt-txt">{{slide.amount}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</section>
<!-- /Speakers-->

<!-- Reviews-->
<section class="testimonial-section reviews">
    <div class="container">														
        <div class="section-wraper row d-flex align-items-center">
            <div class="col-md-8 col-lg-6 section-header mb-0">
                <p>#TOP REVIEWS</p>
                <h2>REVIEWS FROM OUR CUSTOMERS.</h2>
            </div>
            <div class="col-md-4 col-lg-6 text-right">
                <a routerLink='/speakers/reviews' class="view-all">View all</a>
            </div>
        </div>
        <owl-carousel-o [options]="reviews" class="testimonial-slider">
            <ng-container *ngFor='let slide of reviewSlides'>
                <ng-template carouselSlide>
                    <div class="single-testimonial">
                        <div class="client-info">
                            <div class="client-photo">
                                <img src="{{slide.img}}" alt="">
                            </div>
                            <div class="client-details">
                                <h4 class="name">{{slide.name}}</h4>
                                <div class="sub-title">{{slide.title}}</div>
                                <div class="rating">
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star"></i>
                                    <span class="average-rating">{{slide.rating}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="desc">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat orci enim, mattis nibh aliquam dui, nibh faucibus aenean.</p>
                        </div>
                    </div>
                </ng-template>
            </ng-container>
        </owl-carousel-o>
    </div>
</section>
<!-- /Reviews-->

 <!-- Blog Section -->
 <section class="blog-wrapper">
    <div class="container">
    
        <!-- Section Header -->
        <div class="section-wraper row d-flex align-items-center">
            <div class="col-md-6 section-header mb-0">
                <p>#OUR NEWS</p>
                <h2>Our LATEST NEWS</h2>
            </div>
            <div class="col-md-6 text-right">
                <a routerLink='/blog/blog-list' class="view-all">View all</a>
            </div>
        </div>
        <!-- /Section Header -->
        
        <div class="row blog-grid-row">
            <div class="col-md-6 col-lg-4 col-sm-12">
            
                <!-- Blog Post -->
                <div class="content-wrapper">
                    <div class="blog-image">
                        <a routerLink='/blog/blog-details'><img class="img-fluid" src="assets/img/blog/blog-01.jpg" alt="Post Image"></a>
                    </div>
                    <div class="blog-content">
                        <a href="javascript:void(0);" class="post-date"> <span> Posted on 25-01-2021 </span></a>
                        <h3 class="blog-title"><a routerLink='/blog/blog-details'>Tips to Succeed in an Online Course</a></h3>
                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur em adipiscing elit, sed do eiusmod tempor.</p>
                    </div>
                    <div class="blog-footer">
                        <a routerLink='/blog/blog-details'>View More <i class="fas fa-caret-right"></i></a>
                    </div>
                </div>
                <!-- /Blog Post -->
                
            </div>
            <div class="col-md-6 col-lg-4 col-sm-12">
            
                <!-- Blog Post -->
                <div class="content-wrapper">
                    <div class="blog-image">
                        <a routerLink='/blog/blog-details'><img class="img-fluid" src="assets/img/blog/blog-02.jpg" alt="Post Image"></a>
                    </div>
                    <div class="blog-content">
                        <a href="javascript:void(0);" class="post-date"> <span> Posted on 25-01-2021 </span></a>
                        <h3 class="blog-title"><a routerLink='/blog/blog-details'>Tips to Succeed in an Online Course</a></h3>
                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur em adipiscing elit, sed do eiusmod tempor.</p>
                    </div>
                    <div class="blog-footer">
                        <a routerLink='/blog/blog-details'>View More <i class="fas fa-caret-right"></i></a>
                    </div>
                </div>
                <!-- /Blog Post -->
                
            </div>
            <div class="col-md-6 col-lg-4 col-sm-12">
            
                <!-- Blog Post -->
                <div class="content-wrapper">
                    <div class="blog-image">
                        <a routerLink='/blog/blog-details'><img class="img-fluid" src="assets/img/blog/blog-03.jpg" alt="Post Image"></a>
                    </div>
                    <div class="blog-content">
                        <a href="javascript:void(0);" class="post-date"> <span> Posted on 25-01-2021 </span></a>
                        <h3 class="blog-title"><a routerLink='/blog/blog-details'>Tips to Succeed in an Online Course</a></h3>
                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur em adipiscing elit, sed do eiusmod tempor.</p>
                    </div>
                    <div class="blog-footer">
                        <a routerLink='/blog/blog-details'>View More <i class="fas fa-caret-right"></i></a>
                    </div>
                </div>
                <!-- /Blog Post -->
                
            </div>
        </div>
    </div>
</section>
<!-- /Blog Section -->
