.tagsinput-dv .ng2-tag-input.ng2-tag-input--focused, .ng2-tag-input {
    border: 1px solid #dcdcdc;
}
.tagsinput-dv .ng2-tag-input tag {
    background-color: #ff3115 !important;
    color: #fff !important;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    margin-right: 2px;
    border-radius: 0;
}
.tagsinput-dv .ng2-tag-input {
    padding: .25rem 10px !important;
}
.tagsinput-dv delete-icon path {
    fill: #fff !important;
}
#daterange {
    border: none;
}

.date-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    width: 200px;
    font-size: 16px;
    color: #333;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }
  
.enquiry-card {
    border: 1px solid #f0f0f005;
    margin-bottom: 1.875rem;
    background-color: #ffffff8f;
}

.enquiry-date {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.package-btn {
    background: #FF3115;
    border-radius: 170px;
    border-color: #FF3115;
    font-weight: 800;
    font-size: 16px;
    padding: 16px 40px;
    font-weight: 600;
    color: #ffffff;
    /* margin-right: 10px; */
}

.disabled {
    pointer-events: none; /* Prevent interaction */
    opacity: 0.5; /* Make it look disabled */
    background-color: #f0f0f0; /* Optional: change background color */
    border-radius: 170px;
}

.mandatory{
    color: red;
}

.divider {
  width: 1px;
  background-color: #ccc;
  margin: 10px 0;
}

/* loader */
.loader-div {
    width: 80px;
    margin: 15px auto;
}
.loader {
    --uib-size: 70px;
    --uib-color: #115241;
    --uib-speed: 1.75s;
    --uib-bg-opacity: .1;
    position: relative;
    display: flex;
    flex-direction: column;
    height: var(--uib-size);
    width: var(--uib-size);
    transform: rotate(45deg);
    animation: rotate calc(var(--uib-speed) * 2) ease-in-out infinite;
  }

  .half {
    --uib-half-size: calc(var(--uib-size) * 0.435);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--uib-half-size);
    height: var(--uib-half-size);
    overflow: hidden;
    isolation: isolate;

    &:first-child {
      top: 8.25%;
      left: 8.25%;
      border-radius: 50% 50% calc(var(--uib-size) / 15);
    }

    &:last-child {
      bottom: 8.25%;
      right: 8.25%;
      transform: rotate(180deg);
      align-self: flex-end;
      border-radius: 50% 50% calc(var(--uib-size) / 15);

      &::after {
        animation-delay: calc(var(--uib-speed) * -1);
      }
    }

    &::before {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: var(--uib-color);
      opacity: var(--uib-bg-opacity);
      transition: background-color 0.3s ease;
    }

    &::after {
      content: '';
      position: relative;
      z-index: 1;
      display: block;
      background-color: var(--uib-color);
      height: 100%;
      transform: rotate(45deg) translate(-3%, 50%) scaleX(1.2);
      width: 100%;
      transform-origin: bottom right;
      border-radius: 0 0 calc(var(--uib-size) / 20) 0;
      animation: flow calc(var(--uib-speed) * 2) linear infinite both;
      transition: background-color 0.3s ease;
    }
  }

  @keyframes flow {
    0% {
      transform: rotate(45deg) translate(-3%, 50%) scaleX(1.2);
    }
    30% {
      transform: rotate(45deg) translate(115%, 50%) scaleX(1.2);
    }

    30.001%,
    50% {
      transform: rotate(0deg) translate(-85%, -85%) scaleX(1);
    }

    80%,
    100% {
      transform: rotate(0deg) translate(0%, 0%) scaleX(1);
    }
  }

  @keyframes rotate {
    0%,
    30% {
      transform: rotate(45deg);
    }

    50%,
    80% {
      transform: rotate(225deg);
    }

    100% {
      transform: rotate(405deg);
    }
  }

  @media (max-width: 767px) {
    .mobile-view{
      display: none;
    }
    .container {
      padding-left: 0px;
      padding-right: 0px;
    }
    .card-title {
      font-size: 1.25rem;
    }
    
    select.form-control {
      height: 45px; /* Larger touch target for mobile */
    }
  }

  @media (min-width: 767px) {
    .web-view{
      display: none;
    }
  }