.tagsinput-dv .ng2-tag-input.ng2-tag-input--focused, .ng2-tag-input {
    border: 1px solid #dcdcdc !important;
}
.tagsinput-dv .ng2-tag-input tag {
    background-color: #3e08b9 !important;
    color: #fff !important;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    margin-right: 5px;
    border-radius: 0;
    line-height: 30px;
}
.tagsinput-dv .ng2-tag-input {
    padding: .25rem 10px !important;
}
.tagsinput-dv .tag-wrapper .ng-star-inserted {
    vertical-align: bottom;
    height: 30px;
    fill: #fff !important;
    width: 14px;
}
.tagsinput-dv .tag-wrapper .ng-star-inserted:hover {
    transform: scale(1) translateY(0px);
}